<h2>We played paper!</h2>

<% case @comp
   when "rock" %>
  <h2>They played rock!</h2>
  <h2>We won!</h2>

<% when "paper" %>
  <h2>They played paper!</h2>
  <h2>We tied!</h2>

<% when "scissors" %>
  <h2>They played scissors!</h2>
  <h2>We lost!</h2>

<% else %>
  <h2>ERROR</h2>

<% end %>
